<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="BeautySalonEntities" connectionString="metadata=res://*/BeautySalonDB.csdl|res://*/BeautySalonDB.ssdl|res://*/BeautySalonDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C9C6IRVS\SQLEXPRESS;initial catalog=BeautySalon;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BeautySalonAzaleaEntities" connectionString="metadata=res://*/BeautySalonModel.csdl|res://*/BeautySalonModel.ssdl|res://*/BeautySalonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C9C6IRVS\SQLEXPRESS;initial catalog=BeautySalonAzalea;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BeautySalonAzaleaEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C9C6IRVS\SQLEXPRESS;initial catalog=BeautySalonAzalea;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AzaleaDBEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-C9C6IRVS\SQLEXPRESS;initial catalog=AzaleaDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>